.description{
    min-height: 80px; /* Ensures equal height */
    width: 400px;
    margin-top: 10px;
    margin-left: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    font-size: 8pt;
    background-color: aliceblue; 
    text-wrap: 50px; 
    color: white; 
    background-color: rgb(33, 176, 176);
}
.image{
    height: 180px;
    width: 180px;
}
.title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(31, 129, 129); 
}   

h2{
    margin-top: -15px;
    margin-bottom: 10px;
font-family: 'Times New Roman', Times, serif;
color: rgba(8, 127, 127); 
}
button {
    background-color: rgb(33, 176, 176);
    color: rgb(255, 255, 255);
}
.movie{
    background-color: rgba(188, 216, 216, 0.187);
}
ul{
    font-size: 10pt;
     color: rgb(8, 127, 127);
     list-style-type: none; 
}
